html, body {
    background-color: #2E4CC0;
    height: 100%;
    margin: 0;
}

#background {
    position: fixed;
}

#blob1 {
    position: relative;
    display: flex;
    width: 600px;
    height: 500px;
    margin-left: 1350px;
    margin-block-start: -800px;
}

#blob2 {
    display: inline-block;
    position: relative;
    width: 800px;
    height: 800px;
    margin-top: -10px;
    margin-left: -10px;
}

#blob3 {
    display: inline-block;
    position: relative;
    width: 1000px;
    height: 500px;
    margin-bottom: -150px;
    margin-inline-start: -800px;
}

#blob4 {
    display: inline-block;
    position: relative;
    width: 800px;
    height: 800px;
    margin-left: 122px;
    margin-bottom: -150px;
}

#box1 {
    width: 550px;
    height: 700px;
    position: fixed;
    flex-shrink: 0;
    border-radius: 33px;
    border: 1px solid #B1B1EC;
    background: #ECECFF;
    box-shadow: 0px 0px 2.4528000354766846px 0px #D9D9D9, 0px 0px 4.905600070953369px 0px #D9D9D9, 0px 0px 17.169599533081055px 0px #D9D9D9, 0px 0px 34.33919906616211px 0px #D9D9D9, 0px 0px 58.8671989440918px 0px #D9D9D9, 0px 0px 103.0176010131836px 0px #D9D9D9, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 38%;
    margin-top: 110px;
}



#tab {
    margin-left: 30%;
}


#line1 {
    display: flex;
    width: 125px;
    height: 1px;
    background: #2D2A2A;
    margin-bottom: -2px;
    margin-left: -19px;
}

#line2 {
    display: flex;
    width: 125px;
    height: 2px;
    background: #000;
    margin-block-start: -0.25%;
    margin-left: 27.5%;
}



#tab1 {
    display: flex;
    color: #2D2A2A;
    font-family: Comfortaa, cursive;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    margin-bottom: -35px;
}

#tab2 {
    display: flex;
    color: #000;
    font-family: Comfortaa, cursive;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 135px;
    margin-bottom: 1px;
}

#password {
    color: #000;
    font-family: Comfortaa, cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 60px;
    margin-top: 30px;
}

#passwordInput {
    width: 370px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 12px 27px 0px rgba(0, 0, 0, 0.10), 0px 49px 49px 0px rgba(0, 0, 0, 0.09), 0px 110px 66px 0px rgba(0, 0, 0, 0.05), 0px 195px 78px 0px rgba(0, 0, 0, 0.01), 0px 305px 85px 0px rgba(0, 0, 0, 0.00);
    outline: none;
    border: 0;
    margin-top: -10px;
    margin-left: 60px;
}

#passwordRetry {
    color: #000;
    font-family: Comfortaa, cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
    margin-left: 60px;
}

#passwordRetryInput {
    width: 370px;
    height: 30px;
    outline: none;
    border: 0;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 12px 27px 0px rgba(0, 0, 0, 0.10), 0px 49px 49px 0px rgba(0, 0, 0, 0.09), 0px 110px 66px 0px rgba(0, 0, 0, 0.05), 0px 195px 78px 0px rgba(0, 0, 0, 0.01), 0px 305px 85px 0px rgba(0, 0, 0, 0.00);
    margin-top: 1px;
    margin-left: 60px;
}



#telephoneCheckingBox {
    position: fixed;
    width: 482px;
    height: 259px;
    flex-shrink: 0;
    border-radius: 36px;
    background: #FFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), -9px 7px 25px 0px rgba(0, 0, 0, 0.10), -35px 28px 45px 0px rgba(0, 0, 0, 0.09), -79px 63px 61px 0px rgba(0, 0, 0, 0.05), -140px 112px 72px 0px rgba(0, 0, 0, 0.01), -218px 176px 78px 0px rgba(0, 0, 0, 0.00);
    margin-top: 20px;
    margin-left: 34px;
}

#telephoneChecking {
    position: relative;
    display: flex;
    color: #000;
    font-family: Comfortaa;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 65px;
    margin-top: 62px;
}

#telephone {
    color: #000;
    font-family: Comfortaa, cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.2px;
    margin-top: 41px;
    margin-left: 90px;
}

#no {
    color: #000;
    text-decoration: none;
    color: #000;
    font-family: Comfortaa, cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-left: 403px;
}

#privacyPolicyBox {
    display: flex;
    margin-top: 310px;
    margin-left: 30px;
}

#privacyPolicySquare {
    display: flex;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid #343E9B;
    background: linear-gradient(0deg, #3241C9 0%, #3241C9 100%), #FFF;
    margin-top: 11px;
}

#checkmark {
    display: flex;
    width: 30px;
    height: 29px;
}


#privacyPolicyText {
    display: inline-block;
    margin-left: 20px;
    color: #554545;
    font-family: Comfortaa, cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

#registrationButton {
    width: 500px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 13px;
    border: 1px solid #1C198D;
    background: #7C7AEE;
    box-shadow: 0px 0px 0.6948000192642212px 0px #7C7AEE, 0px 0px 1.3896000385284424px 0px #7C7AEE, 0px 0px 4.86359977722168px 0px #7C7AEE, 0px 0px 9.72719955444336px 0px #7C7AEE, 0px 0px 16.675199508666992px 0px #7C7AEE, 0px 0px 29.18160057067871px 0px #7C7AEE;
    margin-left: 25px;
    margin-top: 20px;

}

#registration {
    color: #FFF;
    text-align: center;
    font-family: Comfortaa;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-block-start: 23px;
}
